<div class="weather">
  <div class="weather-artist"><%= weather.coord.lon %></div>
  <div class="weather-title"><%= weather.coord.lon %></div>
  <div class="weather-price">$<%= weather.name %></div>
</div>
